.search__form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.search__form_field {
  width: 250px;
  margin: 0 8px 16px 8px;
}
.search__table {
  margin: 0 18px 18px 18px;
}
table {
  width: 100%;
}
