.search__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .search__form_field {
    width: 250px;
    margin: 0 8px 16px 8px;
  }
  .search__table {
    margin: 0 18px 18px 18px;
  }
  table {
    width: 100%;
  }
  
  h1 {
    color: #80cbc4;
    text-align: center;
  }
  /* default and hover color */
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #80cbc4;
    margin: 0;
  }
  ::ng-deep.mat-form-field-wrapper {
    padding: 0;
  }
  table {
    width: 100%;
  }
  
  mat-form-field.mat-form-field {
  width: 30%;
  margin-left: 400px;
  }
  
  mat-paginator {
  margin-right: 700px;
  }
  
  .mat-mdc-cell {
  padding-left: 12px;
  padding-right: 12px;
  border-left: 1px solid black;
  }
  
  .mat-mdc-header-cell  {
  padding-left: 12px;
  padding-right: 12px;
  border-left: 1px solid black;
  }
  
  .mat-mdc-table{
  border: 1px solid black;
  }
  
  .mat-mdc-header-row {
  background-color: antiquewhite;
  }
  
  .mat-mdc-row:nth-child(even){
  background-color:aquamarine;
  }
  
  .mat-mdc-row:nth-child(odd){
  background-color:aliceblue;
  }
  
  .selected {
  background-color: rgb(14, 92, 41)!important;
  }